/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
*{color: #000;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --bg-color:#fa4ad4;
    --dark-back: #f3f3efd4;
--line-co:#3333334d;
--text-co:#484248;
}
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
body{
    height: 100vh;
}
a{text-decoration: none;}
ul{list-style: none;}
/* haeder */
header{margin: auto;
background-color: #f3f3efd4;
width: 100%;
height: auto;
    border-bottom: 2px solid #3333334d;}

.nav {max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav ul{gap: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h1{font-size: 50px;
    width: 500px;
}
.nav ul a{ transition:all 0.3s ease;
font-size: 20px;
color: black; }
.nav ul a:hover{font-size: 25px;color: #484248;}
/* header end */
/* cointener */
.container{
    max-width: 1200px;
    margin:  auto;
}
/* container end */
/* home content */
.container .home-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    align-items: center;
    
    margin: auto;
    height: 70%;
    border-radius: 30px 30px;
    border: 2px solid #dcdcdc82;
    padding: 30px;
}
.container .home-content .content-text h1{color: #484248;
line-height: 1.6 ;

}
.container .home-content .content-text h3{
    color: slategrey;
    font-weight: 700;
}
.container .home-content .content-text p{
font-weight: 600;
color: #8e345269;
}
.container .home-content img{
    width: 95%;
    
    
}
/* end content */
/* footer begain */
footer{
    background-color: #4842487d;
    width: 100%;
    border-top: 2px solid #ae929277;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 90px 1fr;
    grid-template-areas: "a a a""one two three";
    gap: 3rem;
}
.one{
    grid-area:one ;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
    footer   a{
    text-align: center;
    width: 100%;
    color: rgba(82, 47, 33, 0.553);
    grid-area: a;
    font-size: 20px;
    transition:all 0.3s ease ;
    
}   
#btn{
    color: #7b66288a;
}
    footer a:hover{
    font-size: 25px;
    color: aliceblue;
}
/* home end ^^^^^1 */
/* add-content  start */
form{
    display: grid;
    grid-template-rows: repeat(7,1fr);
}
/* content0add */
.content-add{
    font-size: 30px;
    width: 500px;
    height: 100px;
    transition: all 0.3s ease;
    cursor: cell;
}
.content-add:hover{
    font-size: 35px;
    color: #484248;
}
/* end content-add */
/* input generall */
input,label{width:200px;
    cursor: cell;
}
/* end */
/* 1 in form */
label{
    color: #484248;
    font-weight: 800;
}
input,select{
    background-color: #8d6e6338;
}
textarea{  background-color: #8d6e6338;
    width: 400PX;
    border: 2PX SOLID snow;
    height: 200PX;
    cursor: CELL;
}
/* button */
button{
    width: 200px;
    border-radius: 30px 30px;
    border-color: #484248;
    border: 2px solid;
    padding: 10px;
    font-weight: 800;
    transition: all 0.3s ease;

}
button:hover{
    transform: scale(1.5);
    
}
/* form end */
/* add-couse end */
/* MY COURSE START */
.my-course .container{display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: auto;
    row-gap: 50px;

}
/* text */
.text{
    font-size: x-large;
    text-align: center;
    border: 2px solid #2a1d19;
    background-color: #795548b5;
    width: 200px;
    transition: all 0.3s ease;
    border-radius: 30px 30px;
    padding: 5px;
}
/* end text */
/* table layout */
/* tr{text-align: center;
    border: 1px solid sienna;
    padding: 20px;
    width: 297px;
    height: 90px;

} */
table{
    
    width: 700px;
}


    

td:hover{
    transform: scale(1.05);
    
}
td{font-weight: 600;
font-size: 20px;
transition:all 0.3s ease ;
    color: #692929;
    border: 1px solid brown;
    border-radius: 30px 30px;
    background-color: ghostwhite;
    text-align: center;
    height: 100px;
    width: 400px;
}
.text:hover{
    transform: scale(1.5);
    
}
/* my-course end */
/* contact start */
.contact .container .contact-content {background-color:#e4e1e1df ;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 70vh;
    border-radius: 30px 30px;
    border: 2px solid #dcdcdc82;
    padding: 30px;
}
.contact .container .contact-content:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.contact .container .contact-content img{
    width: 100%;
}
.contact .container .contact-content h3{
font-weight: bold;
    color: #3c1010ad;
}







.contact .container .contact-content h1{text-shadow: -1px 1px 16px #8d6e63;
    font-weight: 700;
    font-size: 48px;
    color: #4f3e16;
    margin-bottom: 2px;

}
.contact .container .contact-content p{line-height: 1.6;
    font-weight: 600;
    color: #8e345269;

}
.contact .container .contact-content a{
        background-color: #fff8dc21;
    color: cadetblue;
    text-align: center;
    height: 36px;
    width: 248px;
    display: inline-block;
    border: 3px solid #493630;
    font-weight: 800;
    border-radius: 30px 30px;
    margin-left: 5px;
}
.contact .container .contact-content a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
    .contact .container .contact-content #j{
    color: cornsilk;
}
/* media  */
@media (max-width:767px) {
    /* home */
    .container{
    max-width:66.6% ;
    margin:  auto;
}
.container .home-content img{
        height: 100%;
    }
.container .home-content,.contact .container .contact-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    row-gap: 43px;
    align-items: center;
    min-height: 100vh;}
    /* header */
    .nav ul {flex-direction: column;
    }
    /* haeder end */
    
    /* footer */
footer{
    
    display: grid;
    grid-template-areas:"a" "one""two""three";
    grid-template-rows: 90px 1fr 1fr 1fr;
    gap: 3rem;
    grid-template-columns: auto;
}
    /* footer end */
    /* my-coursr */
    table{
        width: 90%;
        height: 60%;
    }
    /* my-coursr-end */
    /* contact */
/* all end in776px */
}
/* --------------------------------------------------------------------------- */
@media (min-width:768px) {
    /* header and footer in perfect way */
    /* home */
    .container{
    max-width:66.6% ;
    margin:  auto;
}
.container .home-content img{
        height: 59%;
        

    }
    /* home end to all */
    /* my-course start */
table{
        width: 90%;
        height: 60%;
    }
    /* my-coursr end */
    /* contact */
    .contact .container .contact-content img{
    height: 54%;
}

    
}

